:root{
  --border-styles: 2px solid black;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appNav{
  /*border: var(--border-styles);*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.appNav h1{
  border: var(--border-styles);
  width: 60px;
}
.appNav ul{
  border: var(--border-styles);
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.appNav a{
  text-decoration: none;
  color: black;
}